.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #fff;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.square:hover {
  background-color: #ddd;
}